html {
    background-color: black;
    color: white;
}

.recipe-grid {
    display: flex;
    gap: 20px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: solid white;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}